{% extends 'base.html'%} {% import "bootstrap/wtf.html" as wtf %} {% block content %}

<br>
<br>

<body>
    {% for com in comment[::-1] %}
    <div class="container">
        <div class="card-groups">
            <div class="card" style="background-color: white; margin-top: 10%;">
                <div class="card-body">
                    <h4 class="card-title">{{com.author}}</h4>
                    <p class="card-text">{{com.comment}}.</p>
                </div>
                <div class="card-footer bg-transparent border-success"><small class="text-muted">Published at ::: {{com.date_posted.strftime('%Y-%m-%d')}}</small></div>
            <div class="btn-group col-md-6">
            <a href="{{url_for('main.delete_blog',id = blog.id, blog_id=blog.id)}}" type="button" style="border: none; margin-right: 3%;"
                class=" btn btn-danger d-flex"> Delete</a>
            </div>
        </div>
    </div>
    <br> {% endfor %} {% endblock %}




</body>